<% layout('/listing/layouts') %>

<style>

    .main-page{
        width: 50%;
        margin: 1rem auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1rem 2rem;
        font-family:'Times New Roman', Times, serif;
        box-shadow: 0 0 0.2rem black;
        border-radius: 0.8rem;
    }

    h1{
        text-align: center;
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    input {
        width: 100%;
        height: 2rem;
        padding: 0.2rem 1rem;
        border-radius: 0.3rem;
        border-width: 1px;
        outline: none;
        font-size: 1rem;
    }

    form div{
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
    }

    button{
        height: 2rem;
        width: 5rem;
        background-color: rgb(250, 89, 89);
        color: white;
        border: none;
        border-radius: 0.3rem;
        font-size: large;
        cursor: pointer;
    }
    
    textarea{
        width: 100%;
        height: 4rem;
        padding: 0.2rem;
        border-radius: 0.3rem;
        border-width: 1px;
        outline: none;
        font-size: large;
    }

    .price-country{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        
    }
    
    .first-section{
        width: 40%;
    }

    .second-section{
        width: 60%;
    }

    label{
        font-size: large;
    }

</style>

    <div class="main-page">
        <h1>Update Listing</h1>
    <form method="post" action="/listing/<%= list._id %>?_method=PUT">
        <div>
            <label for="title">Title</label>
            <input name="title" value="<%= list.title %>" type="text">
        </div>

        <div>
            <label for="description">Description</label>
            <textarea name="description" placeholder="This is good place to visit."><%= list.description %></textarea>
        </div>
        
        <div>
            <label for="image">Image URL</label>
            <input name="image" value="<%= list.image %>" type="text">
        </div>
        
        
        <div class="price-country">
            <div class="first-section">
                <label for="price">Price</label>
                <input name="price" value="<%= list.price %>" type="number">
            </div>
            <div class="second-section">
                <label for="country">Country</label>
                <input name="country" value="<%= list.country %>" type="text">
            </div>
        </div>
        
        <div>
            <label for="location">Location</label>
            <input name="location" value="<%= list.location %>" type="text">
        </div>
        
        <button>Update</button>
    </form>
    </div>
