<% layout('/listing/layouts') %>
    <h1>Update Listing!</h1>
    <form method="post" action="/listing/<%= list._id %>?_method=PUT">
        <input name="title" value="<%= list.title %>" type="text">
        <br>
        <br>
        <input name="image" value="<%= list.image %>" type="text">
        <br>
        <br>
        <textarea name="description" ><%= list.description %></textarea>
        <br>
        <br>
        <input name="price" value="<%= list.price %>" type="number">
        <br>
        <br>
        <input name="country" value="<%= list.country %>" type="text">
        <br>
        <br>
        <input name="location" value="<%= list.location %>" type="text">
        <br>
        <br>
        <button>Submit</button>
    </form>
